---
layout: default
title: Home
---
<!-- ACADEMICONS-->
<!--link rel="stylesheet" href="/public/css/academicons.min.css"/-->
<link rel="stylesheet" href="https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}/{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>

<!-- NEW LINE From J Karreth Website -->
<div id="hline">
			<br/>
			</div>

<center>
<i class="ai ai-google-scholar ai"></i> <a href = "https://scholar.google.com/citations?user=ezE8rPkAAAAJ&hl=en">scholar</a>
<i class="ai ai-orcid ai"></i> <a href = "http://orcid.org/0000-0002-6125-5723">orcid</a>
<!--i class="ai ai-dataverse ai"></i> <a href = "https://dataverse.harvard.edu/dataverse/jkarreth">jkarreth</a-->
<i class="fab fa-github"></i> <a href = "https://github.com/crenteriam">github</a>
<i class="ai ai-osf ai"></i> <a href = "https://osf.io/9y7n4/">osf</a>
<i class="ai ai-researchgate ai"></i> <a href = "https://researchgate.net/profile/Cesar_Renteria">rg</a>

</center>
</div>

