---
layout: default
title: Home
---
<!-- ACADEMICONS-->
<link rel="stylesheet" href="https://github.com/crenteriam/crenteriam.github.io/tree/master/public/css/academicons.min.css"/>

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}/{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>

<!-- NEW LINE From J Karreth Website -->
<div id="hline">
			<br/>
			</div>

<center>
<i class="ai ai-google-scholar ai"></i> <a href = "https://scholar.google.com/citations?user=ezE8rPkAAAAJ&hl=en">Cesar Renteria</a>
<!--i class="ai ai-orcid ai"></i> <a href = "https://orcid.org/0000-0003-4586-7153">0000-0003-4586-7153</a-->
<!--i class="ai ai-dataverse ai"></i> <a href = "https://dataverse.harvard.edu/dataverse/jkarreth">jkarreth</a-->
<i class="fa fa-github"></i> <a href = "https://github.com/crenteriam">crenteriam</a>
</center>
</div>
</body></html>
